@mixin color($color){
	--pa-color-default: #{$color};
	--pa-color-default-dark: #{darken($color, 11%)};
	--pa-color-default-light: #{saturate(lighten($color, 10%), 0%)};
	--pa-color-default-aux: #{desaturate(lighten($color, 48%), 30%)};
}